<div class="hero-banner">
  <div class="img-banner">
    {{ section.settings.img-mb | img_url: '2048x' | img_tag }}
  </div>
  <div class="content-banner">
    <h1 class="title">{{ section.settings.title }}</h1>
    <p class="content">
      {{ section.settings.content }}
    </p>
    <button class="btn btn-shop">
      <a href="#">Shop Now</a>
    </button>
  </div>
</div>

{% schema %}
  {
    "name": "abc",
    "class": "qw",
    "settings": [
      {
        "type": "text",
        "id": "content",
        "default": "",
        "label": "Name"
      }, {
        "type": "image_picker",
        "id": "img-dt",
        "label": "Img DT"
      }, {
        "type": "image_picker",
        "id": "img-mb",
        "label": "Img mb"
      }, {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": ""
      }

    ]
  }
{% endschema %}