<div class="hero-banner">
  <div class="img-banner">
    <img
      class="bg-banner"
      src="https://demoda.vn/wp-content/uploads/2022/01/hinh-nen-4k-laptop-va-pc.jpg"
      alt="banner">
  </div>
  <div class="content-banner">
    <h1 class="title">{{ content }}Enjoy This Winter Trend</h1>
    <p class="content">
      {{ section.settings.id1 }}
    </p>
    <button class="btn btn-shop">
      <a href="#">Shop Now</a>
    </button>
  </div>
</div>
<script>
  console.log({{ id1 | json}})
</script>
{% schema %}
  {
    "name": "abc",
    "class": "qw",
    "settings": [
      {
        "type": "text",
        "id": "id1",
        "default": "add the text",
        "label": "Name"
      }, {
        "type": "image_picker",
        "id": "img-dt",
        "label": "Img DT"
      }, {
        "type": "image_picker",
        "id": "img-mb",
        "label": "Img mb"
      }
    ]
  }
{% endschema %}